{% extends 'pages/ensayo_base.html.twig' %}


{% block extraCss %}
    <style>
        /*#brand-nav-canales{}*/
    </style>
{% endblock %}


{% block ensayo %}
    <ul class="nav nav-pills nav-stacked col-md-1">
        <li id="brand-nav-canales"><b>Canal #</b></li>
        {% for i in 1..32 %}
            <li><a href="#tab_{{i}}" data-toggle="pill">Nº {{i}}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content col-md-11">
    {% for i in 1..32 %}
            <div class="tab-pane" id="tab_{{i}}">
                <h4>Canal {{i}}</h4>
                <div class="container col-md-1">

                </div>
                <div class="container col-md-8">
                    <canvas id="graph_{{i}}"></canvas>
                </div>
            </div>
    {% endfor %}
    </div><!-- tab content -->
{% endblock %}


{% block ensayoJavascript %}
    <script src="{{ asset('media/js/charts/Chart.js') }}"></script>

    <script>
        {% for i in 1..32 %}
            var graph_{{i}}_data = {
                labels : ["January","February","March","April","May","June"],
                datasets : [
                    {
                        fillColor : "rgba(172,194,132,0.4)",
                        strokeColor : "#ACC26D",
                        pointColor : "#fff",
                        pointStrokeColor : "#9DB86D",
                        data : [203,23,99,251,305,247]
                    }
                ]
            }

            var graph_{{i}} = document.getElementById('graph_{{i}}').getContext('2d');
            var Chart_{{i}} = new Chart(graph_{{i}} , {
                type: "line",
                data: graph_{{i}}_data,
            });
        {% endfor %}

    </script>

{% endblock %}
