{% extends 'pages/ensayo/ensayo_base.html.twig' %}



{% block ensayo %}

    <ul id="pillsCanales" class="nav nav-pills nav-stacked col-md-1 navbar-dark bg-inverse">

        <li><a id="link-tab-status" href="#tab_status" data-toggle="pill">Estado</a></li>

        <li id="brand-nav-canales">Canal #</li>

        {% for i in 1..32 %}
        <li><a class="channel-number-selector" id="{{i}}" href="#tab_{{i}}" data-toggle="pill"><small>Nº {{i}}</small></a></li>
        {% endfor %}

        {# @var canalVirtual \AppBundle\Entity\CanalVirtual #}
        {% for canalVirtual in canalesVirtualesArray %}
        <li><a class="channel-number-selector" id="v_{{loop.index}}" href="#tab_v_{{loop.index}}" data-toggle="pill"><small>Canal Virtual Nº{{ loop.index }}</small></a></li>
        {% endfor %}

        <li class="divider-vertical"></li>

        <li><a href="#tab_config" data-toggle="pill">Configuracion</a></li>

    </ul> <!-- nav pills -->



    <div class="tab-content col-md-11">

        <div class="tab-pane" id="tab_status">
            <h4>Estado</h4>

            <div class="container col-md-1">
            </div>

            <div class="container col-md-10">
                <small>
                    <table class="table table-sm" id="tablaStatusSensores">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Medición</th>
                            <th>Tiempo</th>
                        </tr>
                        </thead>
                        <tbody id="dataStatusSensores">
                        <th colspan="4">Esperando datos<span id="wait">.</span></th>
                        </tbody>
                    </table>
                </small>
            </div>

            <div class="container col-md-2">
            </div>

        </div> <!-- status content -->

        {% for i in 1..32 %}
        <div class="tab-pane" id="tab_{{i}}">

            <div class="container-fluid m-l-0 p-l-0">
                <h4 class="pull-md-left d-inline">Canal {{i}}</h4>
                {#<h5 id="wait_{{ i }}" class="m-x-auto" style="width: 200px;" >Esperando datos...</h5>#}
            </div>


            {# @var curvaObj \AppBundle\Entity\Curva #}
            <div class="container pull-md-left col-md-1">
                <small class="text-muted pull-md-left d-inline">Patrón: {{ curvaObj.nombre }}</small>
            </div>


            {#<div class="container col-md-1">

            </div>#}


            <div class="container col-md-10">
                <div id="chart_div_{{ i }}" class="chart"></div>
            </div>
            <div class="container pull-md-right col-md-2">
                <div id="gauge_{{ i }}" class="gauge"></div>
                <div id="gauge_p_{{ i }}" class="gauge"></div>
            </div>

        </div>
        {% endfor %}

        {# @var canalVirtual \AppBundle\Entity\CanalVirtual #}
        {% for canalVirtual in canalesVirtualesArray %}
        <div class="tab-pane" id="tab_v_{{loop.index}}">

            <div class="container-fluid m-l-0 p-l-0">
                <h4 class="pull-md-left d-inline">Canal Virtual {{ loop.index }}</h4>
                {#<h5 id="wait_{{ i }}" class="m-x-auto" style="width: 200px;" >Esperando datos...</h5>#}
            </div>
            {# @var curvaObj \AppBundle\Entity\Curva #}
            <div class="container pull-md-left col-md-1">
                <small class="text-muted pull-md-left d-inline">Patrón: {{ curvaObj.nombre }}</small><br>
                <small class="text-muted pull-md-left d-inline">Promediando</small><br>
                <small class="text-muted pull-md-left d-inline">Canales: {% for sensor in canalVirtual.sensores %}{{ sensor.id }}{% if not loop.last %}/{% endif %}{% endfor%}</small>
            </div>



            <div class="container col-md-10">
                <div id="chart_div_v_{{ loop.index }}" class="chart"></div>
            </div>
            <div class="container pull-md-right col-md-2">
                <div id="gauge_v_{{ loop.index }}" class="gauge"></div>
                <div id="gauge_v_p_{{ loop.index }}" class="gauge"></div>
            </div>

        </div>
        {% endfor %}

        <div class="tab-pane" id="tab_config">
            <div id="alert-finalize-fail" class="alert alert-warning col-md-10 offset-md-1 hidden" role="alert">
                <strong>Error de finalizacion!</strong> Vuelva a intentarlo en 1 min.
            </div>

            <h4>Configuración</h4>

            <div class="container col-md-1">
            </div>

            <div class="container col-md-10">
                <div class="divider-text"></div>
                <p class="pull-md-left"><strong>Finalizar el ensayo</strong></p>
                <button onclick="cancelarEnsayo()" id="button-finnish-ensayo" type="button" class="btn btn-secondary pull-md-right">
                    <i class="fa fa-ban" aria-hidden="true"></i>  Finalizar
                </button>
            </div>

            <div class="container col-md-2">
            </div>

        </div> <!-- status content -->

    </div><!-- tab content -->
{% endblock %}


{% block ensayoJavascript %}

    <script>
        window.myConfig = {};
        window.myConfig.t_inicio = "{{ t_inicio }}";
        window.myConfig.lastPing = "{{ lastPing }}";
        window.myConfig.url_cancelEnsayo = "{{ url("cancelEnsayo") }}";
        window.myConfig.url_getGraphData = "{{ url("getGraphData") }}";
        {# @var curvaObj \AppBundle\Entity\Curva #}
        window.myConfig.patron_id = "{{ curvaObj.id }}";
        window.myConfig.patron_nombre = "{{ curvaObj.nombre }}";
        window.myConfig.patron_formula = "{{ curvaObj.formula }}";


        window.myConfig.canalesVirtuales = {};
        {# @var canalVirtual \AppBundle\Entity\CanalVirtual #}
        {% for canalVirtual in canalesVirtualesArray %}

            window.myConfig.canalesVirtuales["{{ loop.index }}"] = {};
            window.myConfig.canalesVirtuales["{{ loop.index }}"]["sensores"] = []; //Array de sensores
            {# @var sensores[] \AppBundle\Entity\Sensor  #}
            {% set sensoresArray = canalVirtual.sensores %}
            {% for sensor in sensoresArray %}
                window.myConfig.canalesVirtuales["{{ loop.parent.loop.index }}"]["sensores"].push({{ sensor.id }});
            {% endfor%}
        {% endfor %}
        //console.log(window.myConfig.canalesVirtuales);
        window.myConfig.canalesVirtuales["length"] = {{ canalesVirtualesArray|length }};

    </script>


    {#<script type="text/javascript" src="https://www.google.com/jsapi"></script>#}
    <script src="{{ asset('base_assets/js/jsapi.js') }}"></script>

    <script src="{{ asset('base_assets/js/polyfill.js') }}"></script>


    {#<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>#}
    {% javascripts '@moment_js' '@dygraphs_js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}



    {#<script src="{{ asset('media/js/justgage-1.2.2/raphael-2.1.4.min.js') }}"></script>
    <script src="{{ asset('media/js/justgage-1.2.2/justgage.js') }}"></script>#}
    {% javascripts '@raphael_js' '@justgage_js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    {% javascripts 'base_assets/js/ensayo.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}




{% endblock %}

