{% extends 'pages/historial/historial_base.html.twig' %}

{% block selectHistorial %}

    <div class="container">

        {% if fErrorOcurred == true %}
            <div class="tab-content col-md-11">
                <div class="alert alert-danger" role="alert">
                    <strong>Error!</strong>El ensayo seleccionado <strong>NO</strong> existe.<br>
                    Consulte al administrador del sitio.
                </div>
            </div>
        {% endif %}

        <h2>Historial de ensayos</h2>
        <br>


        <div class="container-fluid">
            <form name="historialEnsayo" id="historialEnsayo" method="post" action="{{ path('historialVer') }}" onsubmit="return validateUserAvailability();">

                <div class="form-group row">
                    <label for="selectEnsayo" class="col-xs-2 col-form-label">Ensayo</label>
                    <div class="col-xs-10">
                        <select name="ensayoID" class="form-control" id="selectEnsayo">
                            <option value="-1">Seleccionar ensayo...</option>
                            {% for ensayo in ensayos  %}
                                <option value="{{ ensayo.id }}">{{ ensayo.t_inicio }} - {{ ensayo.titulo }} - {{ ensayo.responsable }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <button id="verButton" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>   Ver</button>
            </form>
        </div>

        <br>

        <small>
            <div class="container text-md-left" id="ensayoDetails">

            </div>
        </small>
    </div>


{% endblock %}





{% block javascript %}

    <script>

        window.myConfig = {};
        window.myConfig.ensayos_cant = "{{ ensayos|length }}";
        window.myConfig.ensayo = {};
        {% for ensayo in ensayos %}
            window.myConfig.ensayo["{{ ensayo.id }}"] = {{ ensayo|json_encode|raw }};
        {% endfor %}

    </script>


    {% javascripts 'base_assets/js/historial_select.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}