<html>
<head>

    {#CSS#}
    {% stylesheets  filter="cssrewrite"
    '@bootstrap_css'
    '@fontawesome_css'
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}


    {#Fonts#}
    {#{% stylesheets  '@fontawesome_woff2'
    '@fontawesome_woff'
    '@fontawesome_ttf'
    '@fontawesome_otf'%}#}
    {% stylesheets  '@fontawesome_woff2'%}
    <link rel="stylesheet" type="text/css"  media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" type="text/css"  media="screen" href="{{ asset('base_assets/css/error.css') }}" />

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <img class="inti-logo p-b-2" src="{{ asset('base_assets/images/inti_logo.png') }}"/>
                    <h1>
                        Oops!</h1>
                    <h2>
                        {{ status_code }} {{ status_text }}</h2>
                    <div class="error-details">
                        Perdón, ha ocurrido un error.
                    </div>
                    <div class="error-actions">
                        <a href="{{ path('homepage') }}" class="btn btn-primary">
                            <span class="fa fa-home"></span>
                            Volver </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>



</html>