<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Unidad Tecnica Informatica - INTI - Electronica">

    {#<title>INTI - Construcciones</title>#}
    <title>AVRT - INTI</title>


    <!-- Bootstrap core CSS -->

    {#CSS assets#}
    {% stylesheets  filter="cssrewrite"
                    '@bootstrap_css'
                    '@fontawesome_css'
                    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    {#Fonts#}
    {#{% stylesheets  '@fontawesome_woff2'
    '@fontawesome_woff'
    '@fontawesome_ttf'
    '@fontawesome_otf'%}#}
    {% stylesheets  '@fontawesome_woff2'%}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    {#MI CSS#}
    {% block extraCss %}
        {% stylesheets
        'base_assets/css/base.css'
        filter='cssrewrite' output='css/base.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#collapsenav' data-toggle='collapse' type='button'>
        &#9776;
    </button>
    <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('base_assets/images/inti_logo.png') }}" id="inti_logo"> AVRT - INTI</a>
    <div class='collapse navbar-toggleable-sm pull-xs-left pull-md-none' id='collapsenav'>


        <ul class="nav navbar-nav">
            <li class="nav-item {% if app.request.attributes.get('_route') matches '/homepage.*$/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('homepage') }}"><i class="fa fa-home fa-fw"></i> Inicio</a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') matches '/ensayo.*$/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('ensayo') }}"><i class="fa fa-area-chart fa-fw"></i> Ensayo</a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') matches '/sensores.*$/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('sensores') }}"><i class="fa fa-info-circle fa-fw"></i> Sensores</a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') matches '/historial.*$/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('historial') }}"><i class="fa fa-history fa-fw"></i> Historial</a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') matches '/avanzado.*$/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('avanzado') }}"><i class="fa fa-wrench fa-fw"></i> Avanzado</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item {% if app.request.attributes.get('_route') matches '/admin.*$/' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('admin') }}"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Administracion</a>
                </li>
            {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right pull-xs-right">
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> {{ app.user.username }}, Salir</a>
            </li>
        </ul>

    </div>
</nav>

{% block contentUnderNavBar %}
{% endblock %}


<!-- Bootstrap core JavaScript
================================================== -->

{% javascripts '@jquery_js' '@tether_js' '@bootstrap_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}


{% block extraJavaScript %}
{% endblock %}

</body>
</html>
