{% extends 'pages/avanzado/avanzado_base.html.twig' %}
{# @var ensayos AppBundle\Entity\Ensayo[] #}


{% block export_content %}
    <div class="container">
        <h2>Exportar</h2>
        <br>


        <div class="container-fluid">
            <form name="exportarEnsayo" id="exportarEnsayo" method="post" action="{{ path('generateCSV') }}" onsubmit="return validateEnsayoAvailability();">

                <div class="form-group row">
                    <label for="selectEnsayo" class="col-xs-2 col-form-label">Ensayo</label>
                    <div class="col-xs-10">
                        <select name="ensayoID" class="form-control" id="selectEnsayo">
                            <option value="-1">Seleccionar ensayo...</option>
                            {% for ensayo in ensayos  %}
                                <option value="{{ ensayo.id }}">{{ ensayo.t_inicio }} - {{ ensayo.titulo }} - {{ ensayo.responsable }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="selectIntervalo" class="col-xs-2 col-form-label">Intervalo</label>
                    <div class="col-xs-10">
                        <select name="intervalo" class="form-control col-xs-10" id="selectIntervalo">
                            <option value="60" selected>60</option>
                            <option value="30">30</option>
                            <option value="0">0 (Sin intervalo predeterminado)</option>
                        </select>
                    </div>
                </div>
                <br>
                <button id="exportButton" type="submit" class="btn btn-secondary pull-md-right">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>  Exportar
                </button>
            </form>
        </div>

        <br>

        <small>
            <div class="container" id="ensayoDetails">

            </div>
        </small>
    </div>

{% endblock %}



{% block javascript %}

    <script>

        window.myConfig = {};
        window.myConfig.ensayos_cant = "{{ ensayos|length }}";
        window.myConfig.ensayo = {};
        {% for ensayo in ensayos %}
        window.myConfig.ensayo["{{ ensayo.id }}"] = {{ ensayo|json_encode|raw }};
        {% endfor %}

    </script>

    {% javascripts 'base_assets/js/avanzado.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}