{% extends 'pages/avanzado/avanzado_base.html.twig' %}
{# @var ensayos AppBundle\Entity\Ensayo[] #}


{% block export_content %}
    <div class="container">
        <h2>Exportar</h2>
        <br>


        <div class="container-fluid">
            <form name="exportarEnsayo" id="exportarEnsayo" method="post" action="{{ path('generateCSV') }}" onsubmit="return validateEnsayoAvailability();">

                <div class="form-group row">
                    <label for="selectEnsayo" class="col-xs-2 col-form-label">Ensayo</label>
                    <div class="col-xs-10">
                        <select name="ensayoID" class="form-control" id="selectEnsayo">
                            <option value="-1">Seleccionar ensayo...</option>
                            {% for ensayo in ensayos  %}
                                <option value="{{ ensayo.id }}">{{ ensayo.t_inicio }} - {{ ensayo.titulo }} - {{ ensayo.responsable }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="selectIntervalo" class="col-xs-2 col-form-label">Intervalo</label>
                    <div class="col-xs-10">
                        <select name="intervalo" class="form-control col-xs-10" id="selectIntervalo">
                            <option value="60" selected>60</option>
                            <option value="30">30</option>
                            <option value="0">0 (Sin intervalo predeterminado)</option>
                        </select>
                    </div>
                </div>
                <br>
                <button id="exportButton" type="submit" class="btn btn-secondary pull-md-right">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>  Exportar
                </button>
            </form>
        </div>

        <br>

        <small>
            <div class="container" id="ensayoDetails">

            </div>
        </small>
    </div>

{% endblock %}



{% block javascript %}
    <script>
        function validateEnsayoAvailability() {
            var val = document.forms["exportarEnsayo"]["ensayoID"].value;
            if (val == "-1") {
                return false;
            }
            else{
                return true;
            }
        }

        $(document).ready(function() {
            $('#ensayoDetails').hide();
            $('#exportButton').prop('disabled', true);
        });

        $('#selectEnsayo').on('change', function() {
            var val = document.forms["exportarEnsayo"]["ensayoID"].value;
            if (val == "-1") {
                $('#ensayoDetails').hide();
                $('#exportButton').prop('disabled', true);
            }
            else{
                $('#ensayoDetails').show();
                $('#ensayoDetails').html("");
                $('#exportButton').prop('disabled', false);
                {% for ensayo in ensayos %}
                    if( val == {{ ensayo.id }} ) {
                        var htmlDetalles = "";
                        htmlDetalles  += '<ul class="list-group">';
                        htmlDetalles  += '<li class="list-group-item list-group-item-info">Iniciado: {{ ensayo.t_inicio }}</li>';
                        htmlDetalles  +=  '<li class="list-group-item list-group-item-info">Finalizado: {{ ensayo.t_fin }}</li>';
                        htmlDetalles  +=  '<li class="list-group-item list-group-item-info">Titulo: {{ ensayo.titulo }}</li>';
                        htmlDetalles  +=  '<li class="list-group-item list-group-item-info">Responsable: {{ ensayo.responsable }}</li>';
                        htmlDetalles  +=  '<li class="list-group-item list-group-item-info">Cliente: {{ ensayo.cliente }}</li>';
                        htmlDetalles  +=  '<li class="list-group-item list-group-item-info">OT: {{ ensayo.OT }}</li>';
                        htmlDetalles  +=  '<li class="list-group-item list-group-item-info">SOT: {{ ensayo.SOT }}</li>';
                        htmlDetalles  +=  '<li class="list-group-item list-group-item-info">Descripción: {{ ensayo.descripcion }}</li>';
                        htmlDetalles  +=  '</ul>';
                        $('#ensayoDetails').html(htmlDetalles);
                    }
                {% endfor %}
            }
        });


    </script>
{% endblock %}