<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Unidad Tecnica Informatica - INTI - Electronica">
    {#<link rel="icon" href="../../favicon.ico">#}

    <title>INTI - Construcciones</title>


    <!-- Bootstrap core CSS -->
    {#<link rel="stylesheet" href="{{ asset('media/css/bootstrap.css') }}">#}
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">#}

    <!-- Custom styles for this template -->
    <link href="{{ asset('media/css/homepage.css') }}" rel="stylesheet">

    <style>
        @media (max-width: 767px) {
            .navbar-nav .nav-item + .nav-item {
                margin-left: 0;
            }
            .navbar-nav .nav-item {
                float: none;
            }
            .navbar-toggler {
                color: #FFFFFF;
            }
        }
    </style>
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#collapsenav' data-toggle='collapse' type='button'>
        &#9776;
    </button>
    <a class="navbar-brand" href="{{ path('homepage') }}">INTI - Construcciones</a>
    <div class='collapse navbar-toggleable-sm pull-xs-left pull-md-none' id='collapsenav'>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ensayo') }}">Ensayo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('sensores') }}">Sensores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('about') }}">Acerca de</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Pagina principal</h1>
        <p class="lead">Descripcion de la plataforma.<br> To do.</p>
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('media/js/jquery.min.js') }}"><\/script>')</script>
{#<script src="{{ asset('media/js/bootstrap.min.js') }}"></script>#}
{#<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>#}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->


</body>
</html>
